# pets: destfile=/home/connor/.config/systemd/user/authorized_keys.service, owner=connor, mode=0640
# pets: post=/bin/systemctl --user daemon-reload
# pets: post=/bin/systemctl --user enable authorized_keys.service
# pets: post=touch /home/connor/.config/keys.env
# /home/connor/.config/systemd/user/authorized_keys.service
[Unit]
Description=Script to merge authorized_keys file with github keys
AssertPathExists=%h/bin/keys.bash

[Service]
ExecStart=%h/bin/keys.bash
Type=oneshot
EnvironmentFile=%h/.config/keys.env

[Install]
WantedBy=default.target
